.search__bar {
   padding      : 0.5rem 1rem;
   border-radius: 50px;
   box-shadow   : rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
   width        : max-content;
   margin-top   : 20px;

}

.form__group span {
   font-size: 1.8rem;
   color    : #ee6e6e;
}

.form__group input {
   border     : none;
   font-size  : 0.9rem;
   color      : var(--heading-color);
   font-weight: 500;
}

.form__group input:focus {
   outline: none;
}

.form__group h6 {
   margin-bottom: 0;
}

.form__group-fast {
   border-right: 2px solid #ddd;
}

.search__icon i {
   font-size    : 1.6rem;
   padding      : 0.5rem;
   background   : var(--secondary-color);
   color        : #fff;
   border-radius: 10px 5px 10px 5px;
   cursor       : pointer;
}

.start-here-button {
  font-size: 0.9rem;
  padding: 0.5rem 1rem; /* Match the search bar padding */
  border-radius: 25px; /* Soft rounded corners */
  background-color: #faa935; /* Your specified color */
  color: #fff; /* White text */
   
  text-decoration: none; /* Remove underline from link */
  display: inline-flex; /* Center content */
  align-items: center; /* Center content */
  justify-content: center; /* Center content */
  margin-left: 50px; /* Add some spacing */
  margin-right: 10px;
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.start-here-button:hover {
  background-color: #e9d6be; /* Darker shade for hover effect */
  color:rgb(98, 102, 105)
}

/* Responsive adjustments */
@media only screen and (max-width:992px) {
  .start-here-button {
    margin-top: 10px; /* Add margin top in smaller devices */
    padding: 0.375rem 0.75rem; /* Adjust padding */
    font-size: 0.8rem; /* Adjust font size */
    border-radius: 20px; /* Adjust border-radius */
  }
}

@media only screen and (max-width:576px) {
  .start-here-button {
    width: 100%; /* Full width for very small screens */
    margin-top: 10px; /* Ensure it doesn't stick to the input fields */
    padding: 0.5rem; /* Comfortable padding */
    font-size: 0.7rem; /* Readable font size */
    border-radius: 15px; /* Softer corners */
  }
}



/* =============== RESPONSIVE ================ */
@media only screen and (max-width:992px) {
   .search__bar {
      width: 100%;
      border-radius: 2rem;
   }

   .search__bar form {
      flex-wrap: wrap;
   }

   .search__bar form .form__group {
      width: 48%;
   }
}

@media only screen and (max-width:576px) {
   .search__bar form .form__group {
      width: 100%;
   }

   .form__group input {
      font-size: 0.7rem;
   }

   .form__group span i {
      font-size: 1.1rem;
   }

   .form__group h6 {
      font-size: 1rem;
   }
}